@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
  background-color: v.$grisClaro;

  @include m.tablet{
    display: flex;
    height: 100vh;
  }

  .principal{
    flex: 1;
  }

  .contenido {
    padding: 2rem;

    .nombre-pagina{
      font-size:  3rem;
      text-align: center;
    }
  }

  .formulario{
    input:not([type="submit"]){
      background-color: v.$blanco;
    }
    input[type="submit"]{
      padding: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.6rem;
      border-radius: .7rem;
      @include m.boton(v.$indigo, v.$blanco);
    }
  }
    
}