@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.sidebar{
  background-color: v.$indigo;
  padding: 2rem;

  h2{
    color: v.$blanco;
    margin: 0;
    text-align: center;
  }

  .sidebar-nav{
   margin-top: 5rem; 

   a{
     color: v.$blanco;
     display: block;
     padding: .7rem;
     margin-bottom: 1.5rem;
     transition-property: background-color;
     transition-duration: 300ms;
     text-transform: uppercase;
     font-size: 1.5rem;

     &:last-of-type{
      margin-bottom: 0;
     }

     &:hover,
     &.activo{
      background-color: color.scale(v.$indigo, $lightness: -20%);
      border-radius: .5rem;
     }
   }
  }

}